<div class="float-none d-flex justify-content-between flex-column flex-lg-row mt-4">
    <button class="btn btn-outline-primary mb-2 mb-md-0" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Regresar
    </button>

</div>

<form [formGroup]="nequiForm" (ngSubmit)="submitOrder()">
    <div class="container">
        <div class="row mt-3">
            <div class="col-12">
                <app-text-input formControlName="phoneNumber" [label]="'Número de celular'"></app-text-input>
            </div>

            <div class="d-flex justify-content-center w-100">
                <button type="submit" class="btn btn-primary px-5 my-3">Pagar</button>
            </div>
        </div>
    </div>
</form>