/* You can add global styles to this file, and also import other style files */

:root {
    --main-color: #2d572c;
    --secondary-color:#2c3e50;
    --hover-color: #4bd8a2;
    --white-color: #ffffff;
    --main-hover-color: #1a252f93;
    --background-color-gray: #f7f7f7;
  }

.xng-breadcrumb-root {
    padding: 8px 16px;
    display: inline;
    border-radius: 0;
}

label.xng-breadcrumb-trail{
    margin-bottom: 0;
    color: orange;
}

.xng-breadcrumb-separator {
    padding: 0 0;
}

body, html{
    height: 100%;
}

app-root{
    display: flex;
    flex-direction: column;
    height: 100%;
}

app-footer{
    margin-top: auto;
}

.ng-image-slider .img-div{
    cursor: pointer;
}