/* You can add global styles to this file, and also import other style files */

:root {
    --main-color: #2d572c;
    --secondary-color:#804000;
    --hover-color: #4bd8a2;
    --white-color: #ffffff;
  }

.xng-breadcrumb-root {
    padding: 8px 16px;
    display: inline;
    border-radius: 0;
}

label.xng-breadcrumb-trail{
    margin-bottom: 0;
    color: orange;
}

.xng-breadcrumb-separator {
    padding: 0 0;
}
