<div class="float-none d-flex justify-content-between flex-column flex-lg-row mt-4">
    <button class="btn btn-outline-primary mb-2 mb-md-0" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Regresar
    </button>

</div>

<form [formGroup]="pseForm" (ngSubmit)="submitOrder()">

    <div class="container p-0">
        <div class="row mt-3">
            <div class="col-12">
                <app-select-input formControlName="userType" 
                [options]="optionsUserType"  
                [label]="'Tipo de persona'"></app-select-input>
            </div>
            <div class="col-12">
                <app-select-input formControlName="legalIdType" 
                [options]="optionsLegalIdType"  
                [label]="'Tipo de documento'"></app-select-input>
            </div>
            <div class="col-12">
                <app-text-input formControlName="legalId" [label]="'Número de documento'"></app-text-input>
            </div>
            <div class="col-12">
                <app-select-input formControlName="institutionCode" 
                [options]="optionsFinancialInstitutionCodes"  
                [label]="'Código de la institución financiera'"></app-select-input>
            </div>

            <div class="col-12 col-lg-8">
                <label for="acceptance">
                    <input id="acceptance" type="checkbox" class="mr-2">
                    <span >Acepto haber leído los <a target="_blank" [href]="policyPrivacy">Términos y Condiciones y la Política de Privacidad
                    </a> para hacer este pago.
                    </span>
                </label>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center w-100">
        <button type="submit" class="btn btn-primary px-5 my-3">Pagar</button>
    </div>

</form>