
<div class="float-none d-flex justify-content-between flex-column flex-lg-row mt-4">
    <button class="btn btn-outline-primary mb-2 mb-md-0" routerLink="/basket">
        <i class="fa fa-angle-left"></i> Regresar al carrito
    </button>
    <button [disabled]="checkoutForm.get('addressForm').invalid" class="btn btn-primary" cdkStepperNext>
      Continuar  <i class="fa fa-angle-right"></i> 
    </button>
</div>

<div class="mt-4" [formGroup]="checkoutForm">
    <div class="d-flex justify-content-between align-items-center">
        <h4>Dirección de envío</h4>
        <ng-container *ngIf="checkoutForm.get('addressForm').valid &&
        checkoutForm.get('addressForm').dirty">
            <button 
                (click)="saveUserAddress()" 
                [disabled]="!checkoutForm.get('addressForm').valid ||
                !checkoutForm.get('addressForm').dirty"
                class="btn btn-outline-success mb-3">
                    Guardar como dirección principal
            </button>
        </ng-container>
    </div>
    <div class="row" formGroupName="addressForm">
        <div class="form-group col-12">
            <app-text-input [label]="'Nombres'" formControlName="name"></app-text-input>
        </div>
        <div class="form-group col-12">
            <app-text-input [label]="'Dirección'" formControlName="userAddress"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Ciudad'" formControlName="city"></app-text-input>
        </div>
        <div class="form-group col-6">
            <app-text-input [label]="'Celular'" formControlName="phoneNumber"></app-text-input>
        </div>
    </div>
</div>

