<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-lg-8">
            <app-stepper [linearModeSelected]="true" #appStepper>
                <cdk-step [label]="'Dirección'" [completed]="(checkoutForm.get('addressForm')).valid">
                    <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
                </cdk-step>
                <cdk-step [label]="'Envío'" 
                    [completed]="(checkoutForm.get('deliveryForm')).valid">
                <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
                </cdk-step>
                <cdk-step [label]="'Revisión'">
                    <app-checkout-review [appStepper]="appStepper"></app-checkout-review>
                </cdk-step>
                <cdk-step [label]="'Pago'">
                    <app-checkout-payment (paymentMethodSelected)="onPaymentMethodSelected($event)" [appStepper]="appStepper" [totalPriceOrder]="(basketTotals$ | async).total" [checkoutForm]="checkoutForm"></app-checkout-payment>
                </cdk-step>

                <cdk-step [label]="'MetodoPago'">
                    <ng-container *ngIf="paymentMethodSelected === 'CARD'">
                        <app-payment-credit-card [appStepper]="appStepper"></app-payment-credit-card>
                    </ng-container>

                    <ng-container *ngIf="paymentMethodSelected === 'BANCOLOMBIA_TRANSFER'">
                        <app-payment-bancolombia [appStepper]="appStepper"></app-payment-bancolombia>
                    </ng-container>

                    <ng-container *ngIf="paymentMethodSelected === 'NEQUI'">
                        <app-payment-nequi [appStepper]="appStepper"></app-payment-nequi>
                    </ng-container>

                    <ng-container *ngIf="paymentMethodSelected === 'PSE'">
                        <app-payment-pse [appStepper]="appStepper"></app-payment-pse>
                    </ng-container>
                </cdk-step>
            </app-stepper>
        </div>
        <div class="col-12 col-lg-4">
            <app-order-totals
                *ngIf="(basketTotals$ | async)"
                [shippingPrice]="(basketTotals$ | async).shipping"
                [subtotal]="(basketTotals$ | async).subtotal"
                [total]="(basketTotals$ | async).total"
            ></app-order-totals>
        </div>
    </div>
</div>