<footer class="container-fluid bg-container">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <img src="/assets/images/logo.png" alt="Plantas pido logo">
                <div>
                    Plantas pido es una tienda online que te ofrece increibles plantas de la 
                    ciudad de Santa Marta.
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <h6><b>Ayuda</b></h6>
                <ul>
                    <li><a href="#">Sobre nosotros</a></li>
                    <li><a href="#">Condiciones de venta</a></li>
                    <li><a href="#">Envíos y devoluciones</a></li>
                    <li><a href="#">Preguntas frecuentes</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-3">
                <h6><b>Servicio al cliente</b></h6>
                <ul>
                    <li><a href="#">soporte@plantaspido.com</a></li>
                    <li><a href="#">2222222222</a></li>
                    <li><a href="#">Ir a tu cuenta</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-3">
                <h6><b>Síguenos en nuestras redes sociales</b></h6>
                <ul>
                    <li class="icon-social"><a href="" target="_blank"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
                    <li class="icon-social"><a href="" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>