.list-group-item{
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;

    &:focus{
        outline: none;
    }

    &:not(.active):hover{
        color: #fff;
        background-color: var(--main-hover-color);
    }
}

select{
    border-color: #38b44a;
}

@media screen and (min-width:370px){
    .search{
        width: 180px;
    }
}

@media screen and (min-width:402px){
    .search{
        width: 220px;
    }
}

@media screen and (min-width:500px){
    .search{
        width: 300px;
    }
}