.logo-img{
    cursor: pointer;

    &:focus{
        outline: none;
    }
}

.dropdown-item{
    color: #222;
}

.dropdown{
    color: #fff;
    order: 2;
    display: none;
}

.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    background: var(--main-color);
    color: var(--white-color);
    text-align: center;
    top: 2px;
    right:-8px;
}

/* Basic styling */

    .menu {
        & li a.active{
            color: orange;
        }
    }

    nav {
        padding: 0 15px;
        background: var(--secondary-color);;
        position: fixed;
        z-index: 100;
        width: 100%;
        top: 0;
        
        & ul{
            margin-bottom: 0; 
        }
    }

    a {
        color: white;
        text-decoration: none;
    }

    .menu,
    .submenu {
        list-style-type: none;
    }
    
    .item {
        padding: 10px;
    }

    .item.button {
        padding: 9px 5px;
    }

    .item:not(.button) a:hover,
    .item a:hover::after {
        color: rgb(204, 204, 204);
    }
    
/* Mobile menu */
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .container-nav{
        display: contents;
    }

    .account{
        display: flex;
        color: #fff;
        cursor: pointer;
    }

    .menu li a {
        display: block;
        padding: 15px 5px;
    }

    .toggle {
        order: 1;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
    }

    .item.cart {
        order: 1;
    }

    .item.button {
        order: 2;
    }

    .item {
        order: 3;
        width: 100%;
        text-align: center;
        display: none;
    }


    .button.secondary {
        /* divider between buttons and menu links */
        border-bottom: 1px #444 solid;
    }

    @media all and (max-width: 699px){
        .item.cart{
            width: auto;
            order: 1;
            display: flex;
        }
    }

    @media all and (max-width: 959px){
        .active .item {
            display: block;
        }
    }


    /* Tablet menu */
    @media all and (min-width: 700px) {
        .menu {
            justify-content: space-around;
        }

        .item.button {
            width: auto;
            order: 1;
            display: block;
        }

        .item.cart{
            width: auto;
            order: 2;
            display: block;
        }

        .toggle {
            text-align: right;
            order: 2;
        }

        /* Button up from tablet screen */
        .menu li.button a {
            padding: 10px 15px;
            margin: 5px 0;
        }
        
        .button {
            & a{
                background: var(--main-color);
                border: 1px var(--hover-color) solid;
            }

            &.secondary a:hover{
                background: var(--main-color);
            }

            &.secondary a{
                background: transparent;
                border: 1px var(--hover-color) solid;
            }

            &.secondary{
                border: 0;
            }
            & a:hover{
                text-decoration: none;
            }
        }
    }

    /* Desktop menu */
    @media all and (min-width: 960px) {
    .menu {
        flex-wrap: nowrap;
        background: none;
        justify-content: space-around;
    }

    .container-nav{
        display: flex;
    }
  
    .dropdown{
        display: flex;
        align-items: center;
    }

    .logo {
        order: 0;
        flex: 0;
    }

    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .item.cart{
        order:1;
    }

    .toggle {
        display: none;
    }

    .account{
        display: none;
    }
}