<div class="float-none d-flex justify-content-between flex-column flex-lg-row mt-4">
    <button class="btn btn-outline-primary mb-2 mb-md-0" cdkStepperPrevious>
        <i class="fa fa-angle-left"></i> Regresar
    </button>
</div>

<p class="mt-3 mb-1 title-size">Realizar el pago mediante <strong>Tarjeta de crédito</strong></p>


<form [formGroup]="creditCardForm" (ngSubmit)="submitOrder()">
    <div class="container p-0">
        <div class="row mt-3">
            <div class="col-12 col-lg-6">
                <app-text-input (cardNumberEvent)="onCardChange($event)" formControlName="number" [label]="'Número de la tarjeta'"></app-text-input>
            </div>  
            <div class="col-12 col-lg-6">
                <app-text-input formControlName="card_holder" [label]="'Nombre en la tarjeta'"></app-text-input>
            </div>
            <div class="col-6 col-md-3">
                <app-text-input formControlName="exp_month" [maxLength]="2" [label]="'Mes'"></app-text-input>
            </div>
            <div class="col-6 col-md-4">
                <app-text-input formControlName="exp_year" [maxLength]="2" [label]="'Año'"></app-text-input>
            </div>
            <div class="col-5">
                <app-text-input formControlName="cvc" [label]="'CVC'" [maxLength]="4"></app-text-input>
            </div>
            <div class="col-7 col-lg-5 col-xl-4">
              <span>Pagar en <input formControlName="installments" type="number" class="form-control-installments mx-1 mx-md-3" value="1" min="1" max="36" ><strong>Cuota</strong> </span>
            </div>

            <div class="col-12 col-lg-7 col-xl-8 mt-3 mt-lg-0">
                <app-wompi-policy-privacy formControlName="policyPrivacyAccepted" [policyPrivacy]="policyPrivacy"></app-wompi-policy-privacy>
            </div>
            <div class="col-12">
                <div class="text-danger" *ngIf="creditCardForm.hasError('invalidForm')">
                    * Debes completar todos los campos.
                 </div>
            </div>
            <div class="d-flex justify-content-center w-100">
                <button [disabled]="creditCardForm.invalid" type="submit" class="btn btn-primary px-5 my-3">Pagar</button>
            </div>
            
        </div>
    </div>
</form>